* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #3f195e;
    color: #fff;
    padding: 1rem;
}

main {
    background-color: #ccc;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;

}

main article {
    background-color: #fff;
    margin: 1rem;
    padding: 1rem;
    width: 20rem;
}

footer {
    background-color: #2b113f;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#item1 {

}

#item2 {

}

#item3 {

}
