* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    width: 100%;
    background-color: #1f272a;
    color: #ffffff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-family: Barlow, sans-serif;
    font-weight: bold;
}

main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}

section {
    width: 50%;
}

section h1 {
    margin: 1rem 0;
    color: #1f272a;
    font-family: Barlow, sans-serif;
}

section h3 {
    margin: 2rem 0;
    color: #1f272a;
    font-family: Barlow, sans-serif;
}

section p#receptinfo {
    margin: 1rem 0;
}

section ol {
    margin: 2rem;
}

section ol li {
    border-bottom: 2px dotted #cccccc;
    padding: 1rem;
}

section img#spaghettibord {
    width: 100%;
    margin-top: 1rem;
}

article {
    border: 2px solid #1f272a;
}

article h2 {
    margin: 1rem;
    color: #1f272a;
    font-family: Barlow, sans-serif;
    text-align: center;
}

article p {
    margin: 1rem;
}

article p#personen {
    text-align: center;
    color: #cccccc;
}

article ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style-type: none;
    margin: 2rem;
}

article ul li {
    border-bottom: 2px dotted #cccccc;
    padding: 1rem;
    width: 50%;
}

div {
    border: 2px dotted #cccccc;
    display: flex;
    margin: 1rem 0;
}

div p {
    margin: 1rem;
}

footer {
    width: 100%;
    background-color: #1f272a;
    padding: 1rem 0;
    text-align: center;
    color: #ffffff;
}

footer ul {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: underline;
}

footer ul li a {
    padding: 1rem;
    color: #ffffff;
}

footer ul li a:hover {
    background-color: #534f4f;
}

@media screen and (max-width: 1500px) {
    article ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) {
    main {
        width: 100%;
    }
}

@media screen and (max-width: 960px) {
    main {
        padding: 2rem;
        flex-direction: column-reverse;
    }

    section {
        width: 100%;
    }

    section h3#suggestie {
        display: none;
    }

    section img {
        display: flex;
        justify-content: flex-start;
    }

    div {
        display: none;
    }
}